matplotlib==3.9.4
numpy==2.0.2
opencv-python==4.13.0.92
# tensorflow==2.20.0 // uninstalling tensorflow while causes a lot of dependency issues for mediapipe installation, so will install it later
mediapipe==0.10.9